:root{
  --bg-gradient: linear-gradient(135deg, #1e3c72, #2a5298);
}

body {
  background-color: #f8f9fa;
}

.navbar-brand {
  font-weight: bold;
  letter-spacing: 1px;
}

.card {
  border: none;
  border-radius: 12px;
  transition: 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.card .card-img-top {
  height: 220px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.price {
  font-weight: bold;
  color: white;
  font-size: 18px;
}

.add-brand {
  width: 510px;
  border-radius: 15px;
  margin-top: 140px;
}

.add-product{
  margin-top: 80px;
}

.card-brand {
  background: var(--bg-gradient);
  border: none;
  border-radius: 12px;
  color: white;
}

.brand-image {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.product-image{
  height: 250px;
  width: 100%;
}

.product-card{
  background: var(--bg-gradient);
  color: white;
}

.buttons{
  background: var(--bg-gradient);
  color: white;
}

.buttons:hover{
  color: white;
}